*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar{
    width: 10px;
}
*::-webkit-scrollbar-track{
    background-color: #271622;
}
*::-webkit-scrollbar-thumb{
    background-color: #474747;
    border-radius: 5px;
}


@font-face {
    font-family: 'Poppins';
    src: url(/police/Poppins/Poppins-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Mulish';
    src: url(/police/muli/Muli.ttf) format('truetype');
}

@font-face {
    font-family: 'titre';
    src : url('../PoliceEcriture/Lato-Bold.ttf');
    /* src: url('../PoliceEcriture/Roboto-Medium.ttf'); */
}

@font-face {
    font-family: 'corp_de_texte';
    src: url('../PoliceEcriture/Exo2-Medium.otf');
}

*{
    line-height: 1.5;
    letter-spacing:1px ;
}

h1{
    font-size:2.5vw;    
}
h2{
    font-size:2vw;

}

h3 {
    font-size:1.5vw;

}

h4 {
    font-size:1.25vw;
}

p{
    font-size:1vw;
}
a{
    font-size:1vw;
}li{
    font-size:1vw;
}

span{
    font-size:1vw;
}

input{
    font-size:1vw;
}
label{
    font-size:1vw ;
}

input::placeholder{
    font-size:1vw;
}

button{
    font-size:1vw;
}

i{
    font-size:2vw;
}

u{
    font-size:1vw;
}
td{
    font-size:1vw;
}

th{
    font-size:1.25vw;
}
textarea::placeholder {
    font-size:1vw;
}
textarea{      
    font-size:1vw;
}
select{
    font-size:1vw;
}

@media (max-width:1440px) {
    h1{
        font-size:2.75vw;    
    }
    h2{
        font-size:2.25vw;
    }
    
    h3 {
        font-size:1.75vw;
    
    }
    
    h4 {
        font-size:1.5vw;
    }
    
    p{
        font-size:1.25vw;
    }
    a{
        font-size:1.25vw;
    }
    li{
        font-size:1.25vw;
    }
    
    span{
        font-size:1.25vw;
    }
    
    input{
        font-size:1.25vw;
    }
    label{
        font-size:1.25vw;
    }
    
    input::placeholder{
        font-size:1.25vw;
    }
    
    button{
        font-size:1.25vw;
    }

    i{
        font-size:2.75vw;
    }

    u{
        font-size:1.25vw;
    }
    td{
        font-size:1.25vw;
    }
    th{
        font-size:1.5vw;
    }
    textarea::placeholder {
        font-size:1.25vw;
    }
    textarea{
        font-size:1.25vw;
    }
    select{
        font-size:1.25vw;
    }
      
}

@media (max-width:1024px) {
    h1{
        font-size:3vw;    
    }
    h2{
        font-size:2.5vw;
    }
    
    h3 {
        font-size:2vw;
    
    }
    
    h4 {
        font-size:1.75vw;
    }
    
    p{
        font-size:1.5vw;
    }
    a{
        font-size:1.5vw;
    }
    li{
        font-size:1.5vw;
    }
    
    span{
        font-size:1.5vw;
    }
    
    input{
        font-size:1.5vw;
    }
    label{
        font-size:1.5vw;
    }
    
    input::placeholder{
        font-size:1.5vw;
    }
    
    button{
        font-size:1.5vw;
    }

    i{
        font-size:3vw;
    }

    u{
        font-size:1.5vw;
    }
    td{
        font-size:1.5vw;
    }

    th{
        font-size:1.75vw;
    }
    textarea::placeholder {
        font-size:1.5vw;
    }
    textarea{
        font-size:1.5vw;
    }
    select{
        font-size:1.5vw;
    }
      
}

@media (max-width:800px) {
    h1{
        font-size:3.25vw;    
    }
    h2{
        font-size:2.75vw;
    }
    
    h3 {
        font-size:2.25vw;
    
    }
    
    h4 {
        font-size:2vw;
    }
    
    p{
        font-size:1.75vw;
    }
    a{
        font-size:1.75vw;
    }li{
        font-size:1.75vw;
    }
    
    span{
        font-size:1.75vw;
    }
    
    input{
        font-size:1.75vw;
    }
    label{
        font-size:1.75vw;
    }
    
    input::placeholder{
        font-size:1.75vw;
    }
    
    button{
        font-size:1.5vw;
    }

    i{
        font-size:3.25vw;
    }

    u{
        font-size:1.75vw;
    }
    td{
        font-size:1.75vw;
    }
    th{
        font-size:2vw;
    }
    textarea::placeholder {
              font-size:1.75vw;
    }
    textarea{
        font-size:1.75vw;
    }
    select{
        font-size:1.75vw;
    }
}   



@media (max-width:600px) {
    h1{
        font-size:4vw;    
    }
    h2{
        font-size:3.5vw;
    }
    
    h3 {
        font-size:3vw;
    
    }
    
    h4 {
        font-size:2.75vw;
    }
    
    p{
        font-size:2.5vw;
    }
    a{
        font-size:2.5vw;
    }li{
        font-size:2.5vw;
    }
    
    span{
        font-size:2.5vw;
    }
    
    input{
        font-size:2.5vw;
    }
    label{
        font-size:2.5vw;
    }
    
    input::placeholder{
        font-size:2.5vw;
    }
    
    button{
        font-size:2.5vw;
    }

    i{
        font-size:4vw;
    }

    u{
        font-size:2.5vw;
    }
    td{
        font-size:2.5vw;
    }
    
    th{
        font-size:2.75vw;
    }
    textarea::placeholder {
        font-size:2.5vw;
    }
    textarea{
        font-size:2.5vw;
    }
    select{
        font-size:2.5vw;
    }
      
}

body{
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.Poppins{
    font-family:'Poppins';
}

.Mulish{
    font-family:'Mulish';
}

.green{
    color: #039F4E;
}

.nav{
    position: fixed ;
    background-color: white;
    right: 0px;
    left: 0;
    top: 0;
    z-index: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: .5s all ease-in-out;
    padding: 10px 5%;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.logo img{
    width: 4.5vw;
}

.menu{
    width: 100%;
}

.menu li{
    list-style-type: none;
    display: inline;
}

.menu ul{
    display: flex;
    justify-content: space-around;
}

.langague{
    display: flex;
}

.langague img{
    padding: 20px;
}

.langague select{
    border: none;
}


.Banner{
    margin-top: 7.5%;
    width: 100%;
    background-image: url(/image/camion_1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;

}

.sous_Banner{
    width: 40%;
    background-color: #039F4E;
    color: white;
    padding: 100px 0px 100px 7.5%;
	position: relative;

}



.Banner h1 {
    padding-bottom: 15px;
}

.Banner p {
    padding-bottom: 40px;
}

.Banner button {
    padding: 15px 50px;
    background-color: white;
    border: none;
}

.barre_0{
    width: 225px;
    margin-left: -1px;
    background: #039F4E;
    clip-path:polygon(0% 0%, 0% 125%, 100% 0%);
}


.barre_1{
    margin: 0 0 0 -150px;
    width: 200px;
    background: #039F4E;
    clip-path: polygon(90% 0%,100% 0%,10% 100%,0% 100%)
}

.barre_2{
    margin: 0 0 0 -160px;
    width: 200px;
    background: #039F4E;
    clip-path: polygon(90% 0%,95% 0%,5% 100%,0% 100%)

}


.VEHICULES {
    margin: 90px 7.5% 0 7.5% ;
}

.VEHICULES img {
    height: 4vw;
}
.VEHICULES h2{
    text-align: center;
    margin-bottom: 30px;
}

.VEHICULES div{
    display: flex;
    justify-content: space-evenly;
}

.sous_vehicules div:first-child{
    background-color: #039F4E;
    border-radius: 10px 10px 0 0;
    padding: 20px;
    width: 100%;
}
.sous_vehicules{
    flex-direction: column;
    box-shadow: 0px 4px 10px rgba(221, 221, 221, 0.5);
    border-radius: 10px;
    margin-bottom: 50px;
    width: 20vw;
}

.sous_vehicules h4{
    padding: 20px 10px 10px 10px;
}

.ABOUT{
    display: flex;
    margin: 90px 7.5% 0 7.5% ;
    gap: 40px;
}

.ABOUT img{
    width: 40vw;
}

.ABOUT h2,
.ABOUT h4{
    padding-bottom: 15px;
}

.ABOUT p{
    padding-bottom: 60px;
}

.ABOUT p{
    padding: 0;
}
.stat{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: end;
    grid-row-gap: 20px
}

.EXPERTISES{
    margin: 90px 7.5% 0 7.5% 
}
.EXPERTISES img{
    width: 30vw;
}
.EXPERTISES .top{
    display: flex;
}
.EXPERTISES h4{
    text-align: center;
    margin-bottom: 30px;
}
.EXPERTISES h2 {
    text-align: center;
    margin-bottom: 60px;
}

.EXPERTISES .top div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom : 30px;
}

.EXPERTISES .top .left  {
    text-align: right;
}

.EXPERTISES .bottom  {
    text-align: center;
    margin-bottom: 90px;
}

.FULL_SERVICE{
    display: flex;
    background: #039F4E;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.div_FULL_SERVICE{
    margin: 5% 7.5% 0 10%;
}

.sous_FULL_SERVICE{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5% 2.5%;
}

.FULL_SERVICE img{
    height: 105%;
}

.FULL_SERVICE button{
    margin-top: 60px;
    margin-bottom: 30px;
    padding: 15px 50px;
    background-color: white;
    border: none;
}

.FULL_SERVICE h2{
    margin-bottom:5% ;
}

.img_FULL_SERVICE{
    position: relative ;
    display: flex;
    width: 50vw;
}


.img_FULL_SERVICE img{
    position: absolute ;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.img_FULL_SERVICE .barre_0{
    width: 350px;
    margin-left: -1px;
    background: #F7FCF9;  
    clip-path:polygon(0% 0%, 0% 125%, 100% 0%);
}


.img_FULL_SERVICE .barre_1{
    margin: 0 0 0 -150px;
    width: 250px;
    background: #F7FCF9;
    clip-path: polygon(90% 0%,100% 0%,10% 100%,0% 100%)
}

.img_FULL_SERVICE .barre_2{
    margin: 0 0 0 -160px;
    width: 250px;
    background: #F7FCF9;
    clip-path: polygon(90% 0%,95% 0%,5% 100%,0% 100%)

}

.Contact_us{
    display: flex;
    margin: 7.5%;
    gap: 5%;
}

.Contact_us div div .Poppins{
    margin-bottom: 10px;
}

.Contact_us img{
    width: 30vw;
}

.Contact_us div img,
.Contact_us div h2
{
    margin-bottom: 30px;
}


.formulaire form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:  0 5%;
}

.formulaire form div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline

}


.formulaire_1{
    grid-column-start: 1;
    grid-column-end: 3;
}

.formulaire_1 div{
    align-items:stretch
    
}

.formulaire_2 div{
    align-items: flex-start
}

.formulaire form .checkbox div{
    flex-direction: row;
    gap: 5%;
}

form .txt_field {
    position: relative;
    border-bottom: 2px solid #04DC6D;
    margin: 20px 0;
  }
  form .txt_field2 {
    position: relative;
    border-bottom: 2px solid #04DC6D;
    margin: 20px 0;
  }
  
  .txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    border: none;
    background: none;
    outline: none;
  }

  .txt_field2 textarea {
    width: 100%;
    padding: 0 5px;
    border: none;
    background: none;
    outline: none;
    resize : none;
  }
  
  .txt_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #04DC6D;
    transform: translateY(-50%);
    pointer-events: none;
    transition: .5s;
  }

  .txt_field2 label {
    position: absolute;
    top: -15px;
    left: 5px;
    color: #04DC6D;
    transform: translateY(-50%);
    pointer-events: none;
    transition: .5s;
  }

  
  .txt_field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #039F4E;
    transition: .5s;
  }
  
  .txt_field input:focus ~ label,
  .txt_field input:valid ~ label {
    top: -5px;
    color: #039F4E;
  }
  
  .txt_field input:focus ~ span::before,
  .txt_field input:valid ~ span::before {
    width: 100%;
  }



  .formulaire button{
    border: none;
    color: white;
    background: #039F4E;
    padding: 10px;
    width: 50%;
}

.CARTES iframe{
    width: 100%;
}

.footer .top{
    display: flex;
    align-items: center;
    margin: 60px 7.5% ;
}

.footer .top p{
    padding-bottom: 10px;
}

.footer .top p:nth-child(2){
    padding: 0px;
}

.footer ul{
    display: flex;
    padding: 20px 7.5%;
    background-color: black;
    color: white;
    gap: 5%;
}

.footer li{
    list-style-type: none;
    display: inline;
}

.footer .logo{
    margin-right: 90px;
}

.toggle {
    display: none;
}

.sous_vehicules:hover{
    transition: all 1s;
    transform: scale(1.25);
}

@media all and (max-width: 1440px) {

    .toggle {
        display: block;
        cursor: pointer;
        position: relative;
        z-index: 20;
    }

    .logo {
        position: relative;
        z-index: 20;
    }

    .ouvrir {
        display: block;
    }

    .fermer {
        display: none;
    }

    .open .ouvrir {
        display: none;
    }

    .open .fermer {
        display: block;
    }

    .menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        backdrop-filter: blur(20px);
        flex-direction: column;
        justify-content: space-around;
        transform: translateX(-100%);
        transition: transform 1s;
        align-items: center;
    }

    .menu li{
        font-size: 3vw;
    }

    .open .menu {
        transform: translateX(0);
    }
}

@media all and (max-width: 1024px) {
    .ABOUT{
        flex-direction: column-reverse;
    }
    .ABOUT img{
        width: 100%;
    }
    .sous_Banner {
        width: 60%;
    }
    .img_FULL_SERVICE img{
        display: none;
    }

    .img_FULL_SERVICE{
        display: none;
    }

    .Contact_us{
        flex-direction: column;
    }

    .formulaire{
        padding-top: 30px;
    }

    .footer .top{
        flex-direction: column;
    }

    .footer .logo{ 
        margin: 0;
        padding-bottom: 30px;
    }
}